<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener</title>
    <link rel="icon" type="image/png" href="../public/favicon.ico" />
    <link href="../public/style.css" rel="stylesheet" type="text/css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <h1>URL Shortener</h1>
      <main>
        <section>
          <form onsubmit="onSubmit(event)" action="javascript:void(0)" class="my-4 form-inline">
            <fieldset>
              <legend>URL Shortener</legend>
              <label for="url_input" class="sr-only">URL:</label>
              <input
                id="url_input"
                type="text"
                name="url"
                placeholder="https://www.freecodecamp.org/"
                class="form-control col mr-2"
              />
              <input type="submit" value="POST URL" class="btn btn-success" />
            </fieldset>
          </form>
        </section>
      </main>
      <div id="shortenerURL"></div>
    </div>
    <script>
      function onSubmit(e) {
        e.preventDefault();
        const url = document.getElementById("url_input").value;
        const outputDiv = document.getElementById("shortenerURL");
        fetch("http://localhost:3000/api/shorturl/new", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ url }),
        })
          .then((res) => {
            console.log(res)
            return res.json();
          })
          .then((value) => (outputDiv.innerText = JSON.stringify(value)))
          .catch((err) => (outputDiv.innerText = err));
      }
    </script>
  </body>
</html>
